<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

<body>
    <nav>
        <a href="/"><div class="logo">ANON<b>VOTE</b></div></a>
        <img class="google" src="{{url_for('static', filename='image.png')}}" align="middle" />
    </nav>
    <br>
    <br>
    <br>
    <div class="buttons">
        <a href="/new-position">Add New Position</a>
        <a href="/new-applicant">Add New Applicant</a>
    </div>
    <div class="container">
    <img class="home-img" src="{{url_for('static', filename='download.png')}}" align="middle" />
    <div class="text">ANON<br><b>VOTE</b></div><br>
</div>
</body>

</html>