<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='new_applicant.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

<body>
    <nav>
        <div class="logo">ANON<b>VOTE</b></div>
        <a href="/logout"><img class="google" src="{{url_for('static', filename='image.png')}}" align="middle" /></a>
    </nav>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="image-container">
                <input type="file" name="file" id="image" accept=".jpg, .jpeg, .png" required>
                <div class="photo">
                    <img src="#" alt="Preview" id="preview" class="preview" style="display: none;">
                </div>
                <label for="image" id="image-label">
                    <span style="font-size: 60px; line-height: 200px;">+</span>
                </label>
                <img src="#" alt="Preview" id="preview" style="display: none;">
            </div>

            <div class="text-container">
                <label for="position" class="form-field">NAME:</label>
                <input type="text" name="name" id="position" required class="form-input">
                <br>

                <label for="position" class="form-field">POSITION:</label>
                <select type="text" name="position" id="position" required class="form-input">
                    {% for position in positions %}
                    <option value="{{ position }}">{{ position }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>

                <label for="email" class="form-field">EMAIL:</label>
                <input type="email" name="email" id="email" required class="form-input">
                <br>

                <label for="description" class="form-field">DESCRIPTION:</label>
                <textarea name="desc" id="description" rows="4" required class="form-input"></textarea>
                <br>
                <button class="nota">SUBMIT</button>
            </div>
    </div>
    </form>
    </div>
    <script>
        // Preview image before upload
        document.getElementById('image').addEventListener('change', function (event) {
            var preview = document.getElementById('preview');
            var file = event.target.files[0];

            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>

</html>