<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='user.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

<body>
    <nav>
        <div class="logo">ANON<b>VOTE</b></div>
        <img class="google" src="{{url_for('static', filename='image.png')}}" align="middle" />
    </nav>
    <br>
    <br>
    <br>
    {% for position in positions %}
    <div class="position">
        <div class="title">{{ position }}</div>
        <a class="nota" href="/vote/{{position}}/NOTA">NO<b>TA</b></a>
    </div>
    <div class="container">
        {% for applicant in data[position]['applicants'] %}
        {% if applicant != 'NOTA' %}
        <div class="card">
            <img class="photo" src="{{ data[position][applicant]['image'] }}" alt="">
            <h2 class="name">{{ data[position][applicant]['name'] }}</h2>
            <p class="desc">{{ data[position][applicant]['desc'] }}</p>
            <a class="vote" href="/vote/{{position}}/{{applicant}}">VOTE</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</body>

</html>