<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="user.css">
</head>

<body>
    <div class="login-button">
        <img class="google" src="https://cdn.icon-icons.com/icons2/2648/PNG/512/logo_google_icon_160740.png">
        <span>Log in</span>
    </div>
    <div class="logo-button">
        <img class="google" src="https://cdn.icon-icons.com/icons2/2648/PNG/512/logo_google_icon_160740.png">
        <span>ANONVOTE</span>
    </div>

    <div class="container">
        <div class="card">
            <img class="photo" src="https://static.generated.photos/vue-static/face-generator/landing/wall/6.jpg"
                alt="">
            <h2 class="name">Full Name</h2>
            <p class="desc">One of the bsest leaders on campus, the campus will reach gr3at heights in their presence!!!
            </p>
            <a class="vote" href="">VOTE</a>
        </div>
        
        <div class="card">
            <img class="photo" src="https://static.generated.photos/vue-static/face-generator/landing/wall/6.jpg"
                alt="">
            <h2 class="name">Full Name</h2>
            <p class="desc">One of the bsest leaders on campus, the campus will reach gr3at heights in their presence!!!
            </p>
            <a class="vote" href="">VOTE</a>
        </div>
        
        <div class="card">
            <img class="photo" src="https://static.generated.photos/vue-static/face-generator/landing/wall/6.jpg"
                alt="">
            <h2 class="name">Full Name</h2>
            <p class="desc">One of the bsest leaders on campus, the campus will reach gr3at heights in their presence!!!
            </p>
            <a class="vote" href="">VOTE</a>
        </div>
        
        <div class="card">
            <img class="photo" src="https://static.generated.photos/vue-static/face-generator/landing/wall/6.jpg"
                alt="">
            <h2 class="name">Full Name</h2>
            <p class="desc">One of the bsest leaders on campus, the campus will reach gr3at heights in their presence!!!
            </p>
            <a class="vote" href="">VOTE</a>
        </div>
        <div class="card">
            <img class="photo" src="https://media.istockphoto.com/id/1371214591/photo/outdoors-portrait-of-15-year-old-blonde-teen-girl-with-long-hair-in-white-t-shirt.webp?b=1&s=170667a&w=0&k=20&c=b2z2whhrJTe3T3ioAu1BMiOdqduJpllrHdds49CBDoQ="
                alt="">
            <h2 class="name">Full Name</h2>
            <p class="desc">One of the bsest leaders on campus, the campus will reach gr3at heights in their presence!!!
            </p>
            <a class="vote" href="">VOTE</a>
        </div>
        <div class="card">
            <img class="photo" src="https://static.generated.photos/vue-static/face-generator/landing/wall/6.jpg"
                alt="">
            <h2 class="name">Full Name</h2>
            <p class="desc">One of the bsest leaders on campus, the campus will reach gr3at heights in their presence!!!
            </p>
            <a class="vote" href="">VOTE</a>
        </div>
        

    </div>

</body>

</html>